/* src/App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;/* Cor de fundo da tela inteira */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
}

.content {
  overflow-y: auto;
  max-height: calc(100vh - 100px); /* Ajuste conforme necessário */
}


.sidebar {
  background: #202038;
  color: rgb(241, 241, 241);
  height: 115vh;
  display: flex;
  flex-direction: column;
  top: 0; /* Início do topo */
  left: 0; /* Começa à esquerda */
 }

.sidebar h2 {
  text-align: center;
  font-size: 16px;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 5px 5px;
  display: flex;
  align-items: center;
}

.sidebar ul li a {
  color: rgb(241, 241, 241);
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
}

.sidebar ul li a .icon {
  margin-right: 5px; /* Diminuído o espaçamento à direita do ícone */
}

.sidebar ul li a .link_text {
  white-space: nowrap;
  font-size: 10px; /* Tamanho da fonte reduzido */
}

/* Geral para o container principal */
.main-containerusers {
  display: flex;
  flex-direction: column;
}

/* SidebarUser: Layout e estilo horizontal */
.sidebaruser {
  width: 100%;
  background-color: #202038; /* Cor de fundo */
  color: white;
  padding: 2px 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar o topo */
  display: flex;
  justify-content: center; /* Centraliza o menu */
}

.sidebaruser h2 {
  text-align: center;
  font-size: 8px;
}

.sidebaruser ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.sidebaruser ul li {
  padding: 2px 2px;
  display: flex;
  align-items: center;
}

.sidebaruser ul li a {
  color: rgb(241, 241, 241);
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
}

.sidebaruser ul li a .icon {
  margin-right: 2px; /* Diminuído o espaçamento à direita do ícone */
}

.sidebaruser ul li a .link_text {
  white-space: nowrap;
  font-size: 6px; /* Tamanho da fonte reduzido */
}

/* Estilo horizontal para os itens de menu */
.routesusers {
  display: flex;
  gap: 2px; /* Espaçamento entre os itens */
}


.linkusers {
  padding: 6px;
  text-decoration: none;
  color: #9932CD;
  border-bottom: 2px solid transparent; /* Inicialmente sem borda */
  transition: border-bottom 0.1s cubic-bezier(0.4, -0.28, 0.735, 0.045);
  font-size: '10px';
}

.linkusers-dark {
  padding: 6px;
  text-decoration: none;
  color: #67e7eb;
  border-bottom: 2px solid transparent; /* Inicialmente sem borda */
  transition: border-bottom 0.1s cubic-bezier(0.4, -0.28, 0.735, 0.045);
  font-size: '10px';
}

.linkusers-dark:hover {  
  border-right: 0px solid transparent; /* Inicialmente sem borda */
  border-bottom: 2px solid #D9D919; /* Efeito hover */
  color: inherit;
  background-color: transparent;
}

.linkusers:hover {  
  border-right: 0px solid transparent; /* Inicialmente sem borda */
  border-bottom: 2px solid #D9D919; /* Efeito hover */
  color: inherit;
  background-color: transparent;
}

.linkusers.active {
  border-right: 0px solid transparent; /* Inicialmente sem borda */
  border-bottom: 2px solid #D9D919; /* Quando o link está ativo */
  color: inherit;
  background-color: transparent;
}


.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 10px;
}

.logo {
  font-size: 15px;
  line-height: 0;
}

.bars {
  width: 25px;
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.link {
  display: flex;
  color: rgb(241, 241, 241);
  gap: 2px;
  padding: 8px 6px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  align-items: center;
}

.link:hover {
  border-right: 4px solid rgb(241, 241, 241);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  background: rgb(45, 51, 89);
}

.active {
  border-right: 4px solid rgb(241, 241, 241);
  background: rgb(45, 51, 89);
}

/* Alinhamento e Estilo para Container Geral do Usuário */
.main-container-user {
  position: relative;
  max-width: 100vw;
  min-height: 200vw;
  background-color: #202038;
  padding: 10px;
  color: #67e7eb;
  overflow-y: auto;
  overflow-x: hidden;
}

.card-container-user {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

/* Estilo dos Cards de Designação */
.card-box-user {
  flex: 1 1 300px;
  max-width: 300px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

.card-user {
  padding: 9.5px; /* Reduzido para diminuir a altura */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: space-between;
}

.status-badge-user {
  padding: 4px;
  border-radius: 5px;
  font-size: 0.6rem;
  color: #ffffff;
  text-align: center;
  width: 130px;
  margin: 0 auto;
  background-color: #CC0000; /* Ajuste conforme o status */
  position: relative; /* Necessário para centralizar */
  top: -15px; /* Ajuste fino para centralizar verticalmente */
}

.status-badge-user-body {
  padding: 1px;
  border-radius: 0px;
  font-size: 0.8rem;
  color: #ffffff;
  text-align: center;
  margin-left: 'auto';
  width: 130px;
  margin: 0 1;
  background-color: #1400cc; /* Ajuste conforme o status */
  position: relative; /* Necessário para centralizar */
  top: 6px; /* Ajuste fino para centralizar verticalmente */
}


.div-map-user {
  padding: 4px;
  border-radius: 8px;
  font-size: 0.7rem;
  color: #ffffff;
  text-align: center;
  width: 130px;
  margin: 0 auto;
  position: relative; /* Necessário para centralizar */
}

/* Estilo dos Cards de Designação */
.card-box-msg-user {
  flex: 1 1 100px;
  min-width: 350px;
  max-width: 350px;
  max-height: 100px;
  border-radius: 12px;
  margin-left: 20px;
}

.card-msg-user {
  padding: 1px; /* Reduzido para diminuir a altura */
  flex-direction: column;  
  justify-content: space-between;
}

.card-container-msg-user {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
  min-width: 350px;
  max-width: 350px;
  min-height: 100px;
}
